<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<th:block th:fragment="footer">
    <footer>
        <footer id="footer">
            <div class="container" style="padding-top:2em">
                <div class="row">
                    <div class="footer-top-area">
                        <div class="row d-flex flex-wrap justify-content-between">
                            <div class="col-lg-3 col-sm-6 pb-3">
                                <div class="footer-menu">
                                    <img src="assets/images/main-logo.png" alt="logo" class="img-fluid mb-2" style="width:167px">
                                    <p>Nisi, purus vitae, ultrices nunc. Sit ac sit suscipit hendrerit. Gravida massa volutpat aenean odio
                                        erat nullam fringilla.</p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-6 pb-3">
                                <div class="footer-menu text-capitalize">
                                    <h5 class="widget-title pb-2">Quick Links</h5>
                                    <ul class="menu-list list-unstyled text-capitalize">
                                        <li class="menu-item mb-1">
                                            <a href="#">Home</a>
                                        </li>
                                        <li class="menu-item mb-1">
                                            <a href="#">About</a>
                                        </li>
                                        <li class="menu-item mb-1">
                                            <a href="#">Shop</a>
                                        </li>
                                        <li class="menu-item mb-1">
                                            <a href="#">Blogs</a>
                                        </li>
                                        <li class="menu-item mb-1">
                                            <a href="#">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 pb-3">
                                <div class="footer-menu text-capitalize">
                                    <h5 class="widget-title pb-2">Help & Info Help</h5>
                                    <ul class="menu-list list-unstyled">
                                        <li class="menu-item mb-1">
                                            <a href="#">Track Your Order</a>
                                        </li>
                                        <li class="menu-item mb-1">
                                            <a href="#">Returns Policies</a>
                                        </li>
                                        <li class="menu-item mb-1">
                                            <a href="#">Shipping + Delivery</a>
                                        </li>
                                        <li class="menu-item mb-1">
                                            <a href="#">Contact Us</a>
                                        </li>
                                        <li class="menu-item mb-1">
                                            <a href="#">Faqs</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 pb-3">
                                <div class="footer-menu contact-item">
                                    <h5 class="widget-title text-capitalize pb-2">Contact Us</h5>
                                    <p>Do you have any queries or suggestions? <a href="mailto:"
                                                                                  class="text-decoration-underline">yourinfo@gmail.com</a></p>
                                    <p>If you need support? Just give us a call. <a href="#" class="text-decoration-underline">+55 111 222
                                        333 44</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <hr>
        <div id="footer-bottom" class="mb-2">
            <div class="container">
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="ship-and-payment d-flex gap-md-5 flex-wrap">
                        <div class="shipping d-flex">
                            <p>We ship with:</p>
                            <div class="card-wrap ps-2">
                                <img src="assets/images/dhl.png" alt="visa">
                                <img src="assets/images/shippingcard.png" alt="mastercard">
                            </div>
                        </div>
                        <div class="payment-method d-flex">
                            <p>Payment options:</p>
                            <div class="card-wrap ps-2">
                                <img src="assets/images/visa.jpg" alt="visa">
                                <img src="assets/images/mastercard.jpg" alt="mastercard">
                                <img src="assets/images/paypal.jpg" alt="paypal">
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        <p>© Copyright 2024 Bookly. HTML Template by <a href="https://templatesjungle.com/"
                                                                        target="_blank">TemplatesJungle</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</th:block>
</html>