/*********************************
/* Accordion Start
**********************************/
.accordion__wrapper {
    display: none;

    @include respond(tabport) {
        display: block;
    }
    .accordion {
        &-item {
            background: $white;
            border: none;
            border-radius: 8px !important;
            margin-bottom: 20px;
            padding: 5px;
            box-shadow: 0px 0px 10px rgba(171, 171, 171, 0.2);
        }
        &-header {
            .accordion-button {
                font-family: $default;
                background: $white;
                font-size: 16px;
                color: $heading;
                font-weight: $medium;
                line-height: 30px;
                position: relative;
                border-radius: 8px !important;
                display: block;
                padding-right: 30px;

                &:not(.collapsed) {
                    background: $white;
                    box-shadow: none;

                    &::before {
                        height: 0;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    height: 2px;
                    width: 16px;
                    background: $primary;
                    transform: translateY(-50%);
                    right: 20px;
                    background-image: none;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    height: 16px;
                    width: 2px;
                    background: $primary;
                    transform: translateY(-50%);
                    right: 27px;
                    background-image: none;
                    transition: $transition;
                }
                &:hover {
                    z-index: inherit;
                }
                &:focus {
                    box-shadow: none;
                }
                // @include respond(phone-sm) {
                //     font-size: 18px;
                //     padding-right: 32px;
                //     line-height: 27px;
                // }
            }
        }
        &-body {
            // border-top: 1px solid #ededed;
            padding: 10px;

            .footer__widget {
                display: block;
                padding-bottom: 0;
            }

            p {
                font-family: $default;
                font-size: 16px;
                line-height: 26px;
                color: $content;
                margin-bottom: 0;
            }
        }
    }
}
/*********************************
/* Accordion End
**********************************/

/*********************************
/* Payment Accordion Start
**********************************/
.payment__wrapper {
    display: block;
    .accordion {
        &-item {
            border: 1px solid $border !important;
            box-shadow: none;
            padding: 1px 2px;
        }
        &-header {
            .accordion-button {
                position: relative;
                display: flex;
                align-items: center;

                img {
                    width: auto;
                    height: 30px;
                    margin-right: 12px;
                }

                &:not(.collapsed) {
                    background: $white;
                    box-shadow: none;

                    &::before {
                        height: 10px;
                        width: 10px;
                        background: $primary;
                    }
                }

                &::after {
                    content: "";
                    height: 18px;
                    width: 18px;
                    border: 2px solid $primary;
                    border-radius: 50%;
                    background: transparent;
                }
                &::before {
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                    right: 24px;
                    background: transparent;
                }
                &:hover {
                    z-index: inherit;
                }
                &:focus {
                    box-shadow: none;
                }
                // @include respond(phone-sm) {
                //     font-size: 18px;
                //     padding-right: 32px;
                //     line-height: 27px;
                // }
            }
        }
        &-body {
            // border-top: 1px solid #ededed;
            padding: 10px;

            .footer__widget {
                display: block;
                padding-bottom: 0;
            }

            p {
                font-family: $default;
                font-size: 16px;
                line-height: 26px;
                color: $content;
                margin-bottom: 0;
            }
        }
    }
}
/*********************************
/* Payment Accordion End
**********************************/
