/*********************************
/*  Product Collection Start
*********************************/
.product__collection__item {
    position: relative;
    @include respond(tabland) {
        margin-bottom: 30px;
    }
    .product__collection {
        &__image {
            position: relative;
            overflow: hidden;
            border-radius: 16px;
            max-height: 100%;
            height: 273px;

            img {
                border-radius: 16px;
                object-fit: cover;
                object-position: center;
                height: 100%;
                transition: $transition;
            }
        }
    }
    .product__collection__content {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        @include flexbox($a: center, $jc: center);
        flex-direction: column;
        .product__content__wrapper {
            background: rgba($black, 0.5);
            // padding: 20px 88px;
            padding: 20px;
            width: calc(100% - 50px);
            border-radius: $radius;
            span {
                font-family: $default;
                font-size: 14px;
                font-weight: $medium;
                line-height: 17px;
                color: $white;
                display: block;
            }
            h4 {
                font-size: 24px;
                font-weight: $semibold;
                line-height: 32px;
                color: $white;
                margin: 7px 0px;

                @include respond(medium) {
                    font-size: 18px;
                }
            }
        }
    }
    &:hover {
        .product__collection__image {
            img {
                transform: scale(1.1);
            }
        }
    }
}

/*********************************
/*  Product Collection End
*********************************/
