/* ============================ */
/* Teams Start */
/* ============================ */
.team {
    text-align: center;
    &__avater {
        height: 364px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: $transition;
        }
        border-radius: 16px;
        overflow: hidden;
    }
    &__socials {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__content {
        margin-top: 20px;
        .name {
            font-family: $default;
            font-size: 18px;
            font-weight: $bold;
            line-height: 28px;
            letter-spacing: 0em;
            color: $heading2;

        }
        .designation {
            font-family: $default;
            font-size: 13px;
            font-weight: $regular;
            line-height: 20px;
            letter-spacing: 0em;
            margin-top: 4px;
            margin-bottom: 0;
            color: $content3;
        }
    }
    &:hover {
        .team__avater {
            img {
                transform: scale(1.05);
            }
        }
    }
}

/* ============================ */
/* Section styles */
/* ============================ */
.our-team {
    overflow-x: hidden;
    padding: 50px 0;
    &__nav {
        color: #667085;
        @include flexbox($a: center, $jc: flex-start);
        margin: 80px 0;
        .swiper-next, .swiper-prev {
            &:hover {
                color: $primary;
            }
        }
        @include respond(tabland) {
            margin: 32px 0;
        }
        .swiper-button-disabled {
            color: #D0D5DD;
        }
    }
    .teamSwiper {
        width: 1056px;
        @include respond(tabland) {
            width: 100%;
        }
    }
}