<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="utf-8">
<th:block th:fragment="sideFragment">
    <aside class="side-bar">
        <ul>
            <li><a>참여자 목록</a></li>
            <li>
                <a href="#"><i class="fa-solid fa-cat"></i> menu1</a>
            </li>
            <li>
                <a href="#">m</a>
            </li>
            <li>
                <a href="#">menu3</a>
            </li>
            <li>
                <a href="#">menu4</a>
            </li>
        </ul>
    </aside>
</th:block>