// Font family
$default: "Inter", sans-serif;
$roboto: "Roboto", sans-serif;

// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

// Colors
$black: #000000;
$white: #fff;
$primary: #eb5e28;
$secondary: #6941c6;
$heading: #252522;
$heading2: #344054;
$heading3: #475467;
$heading4: #212b36;
$content: #403c39;
$content2: #667085;
$content3: #98a2b3;
$green: #12b76a;
$yellow: #ffd600;
$red: #d92d20;
$border: #eaecf0;
$bg: #f8f8f8;
$bg2: #fef7f5;
$blue: #2e90fa;
$warning: #dc6803;

// Border Radius
$radius: 8px;

// Common transition
$transition: all 300ms ease-in-out;
